._r1y{position:relative}._r1y .spotlight,._r1z{border-radius:2px;overflow:hidden}._r1z{border:2px solid #4080ff;bottom:0;left:0;position:absolute;right:0;top:0}

#bootloader_GS6t9{height:42px;}.bootloader_GS6t9{display:block!important;}