<!DOCTYPE html>
<html>
<head>
	<title>Add Your Article</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:600,300|Josefin+Slab:400,700,600italic,600,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/slick-team-slider.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">


</head>
<body>
<!--HEADER START-->
	<div class="main-navigation navbar-fixed-top">
		<nav class="navbar navbar-default">
			<div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="/loginHome/">InstuFind</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			  <ul class="nav navbar-nav navbar-right">
			    <li class="active"><a href="/loginHome/#banner">Home</a></li>
			   <!--  <li><a href="/home/#service">Service</a></li>
			    <li><a href="/home/#portfolio">Portfolio</a></li> -->
          <li><a href="/discussionPage/">Ask</a></li>
		<li><a class=" dropdown-toggle" data-toggle="dropdown">Article<span class="fa fa-caret-down"></span></a>

            <ul class="dropdown-menu">
              <li><a href="/show_your_article/">All Articles</a></li>
              <li><a href="/show_my_article/">My Articles</a></li>
            </ul>
          </li>
           <li><a href="/AddInstitute/">Add Institution</a></li>
          <li><a class=" dropdown-toggle" data-toggle="dropdown">Hi {{user.first_name}}<span class="fa fa-caret-down"></span></a>
          <ul class="dropdown-menu">
              <li><a href="/profile/">Profile</a></li> 
              <li><a href="/logout/">Logout</a></li> 
          </ul> 
          </li>



          <li><a class=" dropdown-toggle" data-toggle="dropdown">Question<span class="fa fa-caret-down"></span></a>

            <ul class="dropdown-menu">
              <li><a href="/answer_the_question/">Question For You</a></li>
              <li><a href="/ask/">Your Question</a></li>
            </ul>

          </li>


			  </ul>
			</div>
		  </div>
		</nav>
	</div>
<br>
	<!--HEADER END-->
<br><br><br><br>
<div class="container">
	<div class="heading text-center">
		<strong><h2>Add Your Article</h2></strong>
		<hr>
	</div>
	<div class="bg-info col-md-12 col-sm-12 col-xs-12">
	<br>
		<form action="/Your_article_is/" method="post" id="setYourArticle">{% csrf_token %}
		  
			<div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2">  
			    <div class="form-group">
	                <label class="control-label col-md-3 col-sm-3 col-xs-4">Heading :</label>
	                <div class="col-md-9 col-sm-9 col-xs-8">
	                    <input type="text" name="heading" class="form-control" placeholder="Heading">
	                </div>
	            </div>
<br><br>

	            <div class="form-group">
	                <label class="control-label col-md-3 col-sm-3 col-xs-4">About :</label>
	                <div class="col-md-9 col-sm-9 col-xs-8">
	                    <textarea type="text" name="about" class="form-control" placeholder="Some lines about your article" rows="2"></textarea>
	                </div>
	            </div>
<br><br><br>

	            <div class="form-group">
	                <label class="control-label col-md-3 col-sm-3 col-xs-4">Article :</label>
	                <div class="col-md-9 col-sm-9 col-xs-8">
	                    <textarea type="text" name="article" class="form-control" placeholder="Your article Here...." rows="7"></textarea>
	                </div>
	            </div>
<br><br><br><br><br><br><br><br>
<!-- <hr> -->
				<div class="col-md-offset-10 col-sm-offset-10 col-xs-offset-10">
					<button class="btn btn-success btn-sm" type="submit">Submit</button>
				</div><br>
            </div>


		</form>
		
	</div>
</div>





<script src="/static/js/jquery.min.js"></script>
  	<script type="text/javascript" src="/static/js/jquery.validate.js"></script>
<script type="text/javascript" src="/static/validation/article.js"></script>
  	<script src="/static/js/jquery.easing.min.js"></script>
  	<script src="/static/js/bootstrap.min.js"></script>
  	<script src="/static/js/jquery.mixitup.js" type="text/javascript"></script>
	<script type="text/javascript" src="/static/js/slick.min.js"></script>
	<script type="text/javascript" src="/static/js/custom.js"></script>
    <script src="/static/contactform/contactform.js"></script>
    
</body>
</html>