<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:600,300|Josefin+Slab:400,700,600italic,600,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/slick-team-slider.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">


</head>
<style type="text/css">
  .abcd:hover{
    background-color: orange;
  }
  .nitin {
    box-shadow: 1px 1px 1px #888888;
  }
</style>
<body style="background-color: #F8F8F8;">

<!--HEADER START-->
	<div class="main-navigation navbar-fixed-top">
		<nav class="navbar navbar-default">
			<div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">InstuFind</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			   <ul class="nav navbar-nav navbar-right">
         
          {% if myuserObject.is_loggedIn %}
          <li class="active"><a href="/loginHome/#banner">Home</a></li>
          <!-- <li><a href="#service">Service</a></li> -->
          <!-- <li><a href="#portfolio">Portfolio</a></li> -->
              <li><a href="/discussionPage/">Ask</a></li>
      <li><a class=" dropdown-toggle" data-toggle="dropdown">Article<span class="fa fa-caret-down"></span></a>

            <ul class="dropdown-menu">
              <li><a href="/show_your_article/">All Articles</a></li>
              <li><a href="/show_my_article/">My Articles</a></li>
            </ul>
          </li>

          <li><a href="/AddInstitute/">Add Institution</a></li>
        
         

          <li><a class=" dropdown-toggle" data-toggle="dropdown">Hi {{user.first_name}}<span class="fa fa-caret-down"></span></a>


            <ul class="dropdown-menu">
              <li><a href="/profile/">Profile</a></li> 
              <li><a href="/logout/">Logout</a></li> 
            </ul> 

          </li>

          <li><a class=" dropdown-toggle" data-toggle="dropdown">Question<span class="fa fa-caret-down"></span></a>

            <ul class="dropdown-menu">
              <li><a href="/answer_the_question/">Question For You</a></li>
              <li><a href="/ask">Your Question</a></li>
            </ul>

          </li>

         {% elif not myuserObject.is_loggedIn %}
            <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#banner">Home</a></li>
          <!-- <li><a href="#service">Service</a></li> -->
          <!-- <li><a href="#portfolio">Portfolio</a></li> -->
          <li><a href="/discussionPage/">Ask<span class="badge bg-red">{{a}}</span></a></li>
      <li><a class=" dropdown-toggle" data-toggle="dropdown">Article<span class="fa fa-caret-down"></span></a>

            <ul class="dropdown-menu">
              <li><a href="/show_your_article/">All Articles</a></li>
              <li><a href="/show_my_article/">My Articles</a></li>
            </ul>
          </li>
          <li><a class=" dropdown-toggle" data-toggle="dropdown">Schools<span class="fa fa-caret-down"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="/privateSchool/">Private</a></li> 
                  <li><a href="/governmentSchool/">Government</a></li>
                  <li><a href="/coaching/">Coaching</a></li>
                  <li><a href="/AddInstitute/">Add Institution</a></li>
              </ul> 
            </li>


         <li><a href="/Register/">Register</a>
         </li>
         <li><a href="/loginP/">Login</a></li>
        </ul>
         {% endif %}

        </ul>
        	</div>
		  </div>
		</nav>
	</div>
<br>
	<!--HEADER END-->




  <!-- page content -->
       

        <br><br><br><br><br>
          <div class="container">

          <center>
           <strong> <h2>Discussion</h2> </strong>
<hr class="pg-titl-bdr-btm"></hr>
          </center>

            <div id="statusReport">
                {% if messages %}
                {% for msg in messages %}
                 <h3>  ## {{msg.message}} </h3>
          
                {% endfor %}
                {% endif %}
            </div>

          
            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="">
                  <div class="pan">
                  <div class="p">
                  {% if not questionId.is_answered_YesNo %}
                    <div class="panel nitin abcd" data-target="#{{question.id}}" data-toggle="modal"> 
                  {% elif questionId.is_answered_YesNo  %}
                    <div class="panel nitin">     
                  {% endif %}
                      <div class="panel-heading">

                          <h4><span class="fa fa-fw fa-question" >...</span>{{questionId.Asked_Question}}</h4>
                          <h5 style="color: #C8C8C8 ;">By {{questionId.userAsked.user.first_name}} On {{questionId.asked_Date}} at {{questionId.asked_Time}}</h5>
                          
                        <hr>
                      
                      </div>

                    {% if questionId.answer_is %}
                    <div class="panel-body"> 
                      <div class="container">
                      <div class="row">
                       
                        <div class="">

                          <h4><span style="color: purple;" class="fa fa-fw fa-hand-o-right"></span> {{questionId.answer_is}}</h4> 
                           <small style="color: #C8C8C8 ;">Answered On {{questionId.answer_on_date}} at {{questionId.answer_on_time}} By <a>{{questionId.Asked_to.user.first_name}}</a>
                           </small style="color: #C8C8C8 ;"> <strong>Likes: {{questionId.number_of_likes}} Comments: {{questionId.number_of_comments}}</strong></small>
                        </div>

                        <div class="btn-group col-md-offset-10 col-sm-offset-10 col-xs-offset-4">
                            <a class="btn btn-warning btn-xs" data-toggle="modal" data-target="#{{questionId.id}}nitin">Comment</a>
                        </div>


                      </div> 
                      </div> 
                    </div>

                    </div>
                    {% endif %}
                    </div>



                    </div>
                </div>

<!-- comment popup -->
                            <div class="">
                              <!-- Trigger the modal with a button -->
                              
                              <!-- Modal -->
                              <div class="modal fade" id="{{questionId.id}}nitin" role="dialog">
                                <div class="modal-dialog">
                                
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h4 class="modal-title">Comment Here</h4>
                                    </div>
                                    <div class="modal-body">
                                      <form action="/makeYourComment/" method="post" autocomplete="off">{% csrf_token %}

                                        <input type="hidden" name="abcId" value="{{questionId.id}}">

                                        <textarea name="comment" class="form-control" rows="4" placeholder="Comment here" required="Please Enter your comment"></textarea>
                                          <br>

                                        <div class="col-md-offset-10 col-sm-offset-10 col-xs-offset-10">
                                          <button class="btn btn-info btn-sm" type="submit">Submit</button>
                                        </div>

                                      </form>
                                    </div>
                                    <!--  -->
                                  </div>
                                  
                                </div>
                            </div>
                              
                            </div>

<!-- commemt popup ends -->

                <br>
               <strong><h3>More Comments...</h3></strong> 
  <div class="">
    <div class="">
      {% for com in CommentsAre %}

      <div class="panel col-md-12 col-sm-12 col-xs-12">

        <h4><span style="color: purple;" class="fa fa-fw fa-hand-o-right"></span> {{com.comment_Content}}</h4> 
        <small>Commented On {{com.comment_date}} at {{com.comment_time}} By <a>{{com.comment_by.user.first_name}} {{com.comment_by.user.last_name}}</a></small>
      
      </div>
      {% endfor %}

    </div>
 <!--    <hr> -->
  </div>
                
            


<script src="/static/js/jquery.min.js"></script>
  	<script src="/static/js/jquery.easing.min.js"></script>
  	<script src="/static/js/bootstrap.min.js"></script>
  	<script src="/static/js/jquery.mixitup.js" type="text/javascript"></script>
	<script type="text/javascript" src="/static/js/slick.min.js"></script>
	<script type="text/javascript" src="/static/js/custom.js"></script>
    <script src="/static/contactform/contactform.js"></script>
    


</body>
</html>