<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:600,300|Josefin+Slab:400,700,600italic,600,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/slick-team-slider.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<script src="/static/js/jquery.min.js"></script>


</head>
<style type="text/css">
  .abcd:hover{
    background-color: grey;
  }
  .akk:hover{
    color: black;
  }
  .nitin {
    box-shadow: 1px 1px 1px #888888;
  }
  .anitin{
    margin-left: 13px;
    margin-top: 13px;
  }
  .cld{
     border: none;
     height: 29px;
     width: 190px;
     color: purple;
     border-color: black;
     border:2px solid #b2b2b2;
     /*background: #F8F8F8;*/
  }
  input:focus {
    background: white;
}
a{
  text-decoration: none;
}
</style>
<body style="background-color: #F8F8F8;">

<!--HEADER START-->
	<div class="main-navigation navbar-fixed-top">
		<nav class="navbar navbar-default" style="background-color: ">
			<div class="container">

       
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">InstuFind</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			  <ul class="nav navbar-nav navbar-right">
         
          {% if myuserObject.is_loggedIn %}
         
          <li class="active"><a href="/loginHome/#banner">Home</a></li>
          <!-- <li><a href="#service">Service</a></li> -->
          <!-- <li><a href="#portfolio">Portfolio</a></li> -->
              <li><a href="/discussionPage/">Ask<span class="badge bg-red">{{a}}</span></a></li>
      <li><a class=" dropdown-toggle" data-toggle="dropdown">Article<span class="fa fa-caret-down"></span></a>

            <ul class="dropdown-menu">
              <li><a href="/show_your_article/">All Articles</a></li>
              <li><a href="/show_my_article/">My Articles</a></li>
            </ul>
          </li>
         <li><a class=" dropdown-toggle" data-toggle="dropdown">Schools<span class="fa fa-caret-down"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="/privateSchool/">Private</a></li> 
                  <li><a href="/governmentSchool/">Government</a></li>
                  <li><a href="/coaching/">Coaching</a></li>
                  <li><a href="/AddInstitute/">Add Institution</a></li>
              </ul> 
            </li>

          <li><a class=" dropdown-toggle" data-toggle="dropdown">Hi {{first_name}}<span class="fa fa-caret-down"></span></a>


          <ul class="dropdown-menu">
           <li><a href="/profile/">Profile</a></li> 
          <li><a href="/logout/">Logout</a></li> 
          </ul> 

          </li>



          <li><a class=" dropdown-toggle" data-toggle="dropdown">Question<span class="fa fa-caret-down"></span></a>

            <ul class="dropdown-menu">
                        <li><a href="/answer_the_question/">Question For You</a></li>
                        <li><a href="/ask">Your Question</a></li>
                        </ul>

          </li>

          
        

         {% elif not myuserObject.is_loggedIn %}
           <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/home/#banner">Home</a></li>
          <!-- <li><a href="#service">Service</a></li> -->
          <!-- <li><a href="#portfolio">Portfolio</a></li> -->
          <li><a href="/discussionPage/">Ask<span class="badge bg-red">{{a}}</span></a></li>
          <li><a class=" dropdown-toggle" data-toggle="dropdown">Article<span class="fa fa-caret-down"></span></a>

            <ul class="dropdown-menu">
              <li><a href="/show_your_article/">All Articles</a></li>
              <li><a href="/show_my_article/">My Articles</a></li>
            </ul>
          </li>
          <li><a class=" dropdown-toggle" data-toggle="dropdown">Schools<span class="fa fa-caret-down"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="/privateSchool/">Private</a></li> 
                  <li><a href="/governmentSchool/">Government</a></li>
                  <li><a href="/coaching/">Coaching</a></li>
                  <li><a href="/AddInstitute/">Add Institution</a></li>
              </ul> 
            </li>


         <li><a href="/Register/">Register</a>
         </li>
         <li><a href="/loginP/">Login</a></li>
        </ul>
         {% endif %}

        </ul>
			</div>
		  </div>
		</nav>
	</div>
<br>
	<!--HEADER END-->




  <!-- page content -->
       

<br><br><br><br>
<div class="container">
        
      
<br><br><br>



        <div class="row">
          <div id="statusReport">
                      {% if messages %}
                      {% for msg in messages %}
                         ## {{msg.message}}
                
                      {% endfor %}
                      {% endif %}
        </div>
          
          <div class="col-md-2 col-xs-4 col-sm-2">
              

            <div class="">

             
  <!--modal testing -->
                 
              <div class="container">
                   
                    <!-- Modal -->
                <div class="modal fade" id="myModal3" role="dialog">
                  <div class="modal-dialog">
                      
                        <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Question </h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12">
                                  <!-- <div class="x_panel"> -->
                            <div class="x_content">

                              <form class="form-horizontal form-label-left" method="post" action="/askQuestion_DP/" id="AskQuestion" autocomplete="off"> {% csrf_token %}

                                <input type="hidden" name="abc" value="{{myuserObject.user.username}}">
                                        
                                       
                                <div class=" col-md-8 col-sm-8 col-xs-12 col-md-offset-2">
                                  <div class="x_panel">
                                    <div class="x_title"></div>
                                     
                                        <div class="x_content"><br />

                                          <div class="form-group">
                                            <div class="">
                                              <select class="form-control" name="topic">
                                                <option>Select Topic</option>
                                                {% for topic in topics %}
                                                <option>{{topic.name}}</option>
                                                {% endfor %}
                                              </select>
                                            </div>
                                          </div>

                                      
                                          <div class="form-group">
                                            <!-- <label class="control-label col-md-3 col-sm-3 col-xs-12">Review</label> -->
                                            <div class="">
                                              <textarea type="text" name="question" rows="4" class="form-control" placeholder="Your Question"></textarea>
                                            </div>
                                          </div>                                  
                                       
                                        </div>

                                    
                                  </div>
                                                              
                                </div>

                                <div class="row">
                                  <div class="form-group">
                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-8 col-sm-offset-6 col-xs-offset-6">
                                      <button type="submit" class="btn btn-success" id="{{myuserObject.id}}">Submit</button>
                                    </div>
                                  </div>
                                </div>
                              
                              </form>


                            </div>
                                        
                                   
                          </div>
                        </div>
                      </div>
                           

                         
                          <!-- /page content -->
                            
                    </div>
                         
                  </div>
                        
                </div>
              </div>
  
     
            </div>
          </div> 
       
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="">
                           
                            <form action="/searchQuestionS/" method="post" autocomplete="off"> {% csrf_token %}
                              <div class=" form-group pull-right top_search">
                                <div class="input-group">
                                  <input type="text" class="cld" name="search" placeholder="Enter Topics" style="color: #b2b2b2;">
                                    <span class="input-group-btn">
                                          <button class="btn btn-default btn-sm" type="submit" style="background-color: #b2b2b2; color: white;">Go!</button>
                                           <!--  <button type="button" class="btn dropdown-toggle btn-sm" data-toggle="dropdown" style="background-color: #b2b2b2; color: white">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                          </button>
                                          <ul class="dropdown-menu" role="menu">
                                            <li><a href="/discussionPage_today/">Today Post</a></li>
                                            <li><a href="/discussionPage_last_seven_days/">Last week post</a></li>
                                            <li><a href="/discussionPage_last_thirty_days/">Last Month Post</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/discussionPage/">All Post</a></li>
                                          </ul> -->
                                    </span>

                  
               
                          
                        
               
           
                                </div>
                              </div>
                            </form>
                  </div>
              </div>


                

        </div>
      
        
<hr>
      <div>  
      <div class="panel nitin col-xs-12 col-md-12 col-sm-12">
          <h5 id="akk" style="color: #A8A8A8 ;" data-target="#myModal3" data-toggle="modal">What is your Question?...</h5>    
        </div>
          {% for question in AskQuestionObject %}
              <div class="col-md-12 col-sm-12 col-xs-12 ">
                {% if question.answer_is %}
                <div class="panel nitin">

                {% elif not question.answer_is %}
                <div class="panel nitin" onclick="document.getElementById('{{question.id}}').style.display='block'"> 
                {% endif %}

                
                    <div class="anitin">
                          <div>
                          <p style="color: #C8C8C8 ;">Question asked on <strong>{{question.Ask_topic.name}}</strong></p>
                          <a href={% url 'questionInfo' id=question.id %} style="text-decoration: none;">
                           <strong><h4><span class="fa fa-fw fa-question" >...</span>{{question.Asked_Question}}</h4></strong> </a>
                              
                            <h6 style="color: #C8C8C8 ;">By <strong>{{question.userAsked.user.first_name}} {{question.userAsked.user.last_name}}</strong>  On {{question.asked_Date}} at {{question.asked_Time}} </h6>
                          </div>
                           <hr>
                    </div>
                </a>

                   
                      
                   
                </div> 

              </div>
              <br><br>
                  <!--modal finished -->
           {% endfor %}
        </div>

<!-- page content ends -->

</div>






<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.validate.js"></script>
<script type="text/javascript" src="/static/validation/addQ.js"></script>
<script type="text/javascript" src="/static/validation/ans.js"></script>
<script src="/static/js/jquery.easing.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.mixitup.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/slick.min.js"></script>
<script type="text/javascript" src="/static/js/custom.js"></script>
<script src="/static/contactform/contactform.js"></script>
    
</body>
</html>