  <!DOCTYPE html>
<html>
<head>
	<title>InstuFind</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:600,300|Josefin+Slab:400,700,600italic,600,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/slick-team-slider.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">


</head>
<style type="text/css">
  a{
    text-decoration: none;

  }
  a:hover{
    color: purple;
    text-decoration: none;
  }
</style>
<body>

<!--HEADER START-->
	<div class="main-navigation navbar-fixed-top">
		<nav class="navbar navbar-default">
			<div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">InstuFind</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			  <ul class="nav navbar-nav navbar-right">
			    
			    {% if into %}
          <li class="active"><a href="/loginHome/#banner">Home</a></li>
          <!-- <li><a href="#service">Service</a></li> -->
          <!-- <li><a href="#portfolio">Portfolio</a></li> -->
          <li><a href="/discussionPage/">Ask</a></li>
        <li><a class=" dropdown-toggle" data-toggle="dropdown">Article<span class="fa fa-caret-down"></span></a>

            <ul class="dropdown-menu">
              <li><a href="/show_your_article/">All Articles</a></li>
              <li><a href="/show_my_article/">My Articles</a></li>
            </ul>
          </li>

          <li><a href="/AddInstitute/">Add Institution</a></li>
        
         

          <li><a class=" dropdown-toggle" data-toggle="dropdown">Hi {{user.first_name}}<span class="fa fa-caret-down"></span></a>


            <ul class="dropdown-menu">
              <li><a href="/profile/">Profile</a></li> 
              <li><a href="/logout/">Logout</a></li> 
            </ul> 

          </li>

          <li><a class=" dropdown-toggle" data-toggle="dropdown">Question<span class="fa fa-caret-down"></span></a>

            <ul class="dropdown-menu">
              <li><a href="/answer_the_question/">Question For You</a></li>
              <li><a href="/ask">Your Question</a></li>
            </ul>

          </li>


       
           {% elif not into %}
          <li class="active"><a href="/home/#banner">Home</a></li>
          <!-- <li><a href="#service">Service</a></li> -->
          <!-- <li><a href="#portfolio">Portfolio</a></li> -->
          <li><a href="/discussionPage/">Ask<span class="badge bg-red">{{a}}</span></a></li>
      <li><a class=" dropdown-toggle" data-toggle="dropdown">Article<span class="fa fa-caret-down"></span></a>

            <ul class="dropdown-menu">
              <li><a href="/show_your_article/">All Articles</a></li>
              <li><a href="/show_my_article/">My Articles</a></li>
            </ul>
          </li>
          <li><a class=" dropdown-toggle" data-toggle="dropdown">Schools<span class="fa fa-caret-down"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="/privateSchool/">Private</a></li> 
                  <li><a href="/governmentSchool/">Government</a></li>
                  <li><a href="/coaching/">Coaching</a></li>
                  <li><a href="/AddInstitute/">Add Institution</a></li>
              </ul> 
            </li>


         <li><a href="/Register/">Register</a>
         </li>
         <li><a href="/loginP/">Login</a></li>
    
           
          {% endif %}
         
			  </ul>
			</div>
		  </div>
		</nav>
	</div>

	<!--HEADER END-->


  <!-- page content -->
       
<br><br><br><br><br><br>
<div class="container">
  <div class="well">
    <div class="row col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
      <div class="panel col-md-4 col-sm-4 col-xs-10  text-center">
        <h4>{{InstitutionObject.Institution_name}}</h4>
        <hr>
        <h6>Name</h6>
      </div>
      <div class="col-md-2 col-sm-2">
        
      </div>
      <div class="panel col-md-4 col-sm-4 col-xs-10 text-center">
        <h4>{{InstitutionObject.email}}</h4>
        <hr>
        <h6>Email</h6>
      </div>      
    </div>

    <div class="row col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
      <div class="panel col-md-4 col-sm-4 col-xs-10 text-center">
        <h4><a href="{{InstitutionObject.website}}" target="_blank" style="text-decoration: none; color: black;">{{InstitutionObject.website}}</a></h4>
        <hr>
        <h6>Website</h6>
      </div>
      <div class="col-md-2 col-sm-2">
        
      </div>
   
      <div class="panel col-md-4 col-sm-4 col-xs-10 text-center">
        <h4>{{InstitutionObject.contact_details}}</h4>
        <hr>
        <h6>Contact</h6>
      </div>
    </div>
    <div class="row col-md-offset-1 col-sm-offset-1 col-xs-offset-1">

      <div class="panel col-md-4 col-sm-4 col-xs-10 text-center">
        <h4>{{InstitutionObject.city}}</h4>
        <hr>
        <h6>City</h6>
      </div>
      <div class="col-md-2 col-sm-2">
        
      </div>
      <div class=" panel col-md-4 col-sm-4 col-xs-10 text-center">
        <h4>{{InstitutionObject.full_address}}</h4>
        <hr>
        <h6>Address</h6>
      </div>
      <!-- <div class="panel col-md-4 col-sm-6 col-xs-12 text-center">
        <h4>{{InstitutionObject.email}}</h4>
      </div> -->
     
    </div>
  </div>

          <div class="row ">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="alert alert-info x_title">
                <h3><span class="fa fa-lightbulb-o"></span> Description</h3>
              </div>
              <h4><strong><span class="fa fa-cubes"></span>...{{InstitutionObject.description}}</h4>
              <hr>
            </div>

          </div>

          <div class="row " id="{{institute.id}}">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="alert alert-danger x_title ">
              <br>
                <div class="">
                 <h3 class="column-title"><span class="fa fa-diamond">...</span><strong>Review</strong>
                     <button style="text-decoration: none; color: black;" data-target="#myModal2" data-toggle="modal" class="btn btn-info btn-sm col-md-offset-8 col-sm-offset-7">Add New</button>
                  </h3>
                </div>
              <br>

                  <!--modal testing -->

                <div class="container">
                
                  <!-- Modal -->
                  <div class="modal fade" id="myModal2" role="dialog">
                    <div class="modal-dialog">
                    
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Add New Reviews </h4>
                        </div>
                        <div class="modal-body">

                              <!-- <div class="clearfix"></div> -->

                              <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                  <div class="x_panel">

                                    <div class="x_content">

                                      <form class="form-horizontal form-label-left" method="post" action="/addReview/" id="abcde" autocomplete="off"> {% csrf_token %}

                                          <input type="hidden" name="abc" value="{{InstitutionObject.id}}">
                                        
                                       
                                        <div class="  col-md-8 col-sm-8 col-xs-12 col-md-offset-2">
                                          <div class="x_panel">
                                            <div class="x_title">
                                           <!-- <h4 style="font-family: cursive;">Institution Details</h4> -->

                                            <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content"><br />

                                              <div class="form-group">
                                                <!-- <label class="control-label col-md-3 col-sm-3 col-xs-12">Institute Name</label> -->
                                                <div class="">
                                                  <input type="text" name="institute_name" class="form-control" value="{{InstitutionObject.Institution_name}}" disabled="">
                                                </div>
                                              </div>


                                              <div class="form-group">
                                                <!-- <label class="control-label col-md-3 col-sm-3 col-xs-12">Title</label> -->
                                                <div class="">
                                                  <input type="text" name="title" class="form-control" placeholder="e.g. Excellent, Good etc">
                                                </div>
                                              </div>
                                            
                                              <div class="form-group">
                                                <!-- <label class="control-label col-md-3 col-sm-3 col-xs-12">Review</label> -->
                                                <div class="">
                                                  <textarea type="text" name="review" rows="4" class="form-control" placeholder="Your Review"></textarea>
                                                </div>
                                              </div>


                                         
                                        
                                             
                                            </div>

                                          </div>
                                        </div>
                                      


                                    

                                      <div class="row">
                                        <div class="form-group">
                                          <div class="col-md-9 col-sm-9 col-xs-9 col-sm-offset-9 col-xs-offset-8 col-md-offset-8">
                                            <!-- <button type="Cancel" class="btn btn-primary">Cancel</button> -->
                                            <button type="submit" class="btn btn-success">Submit</button>
                                          </div>
                                        </div>
                                      </div>
                                
                                      </form>


                                    </div>

                                  </div>
                                      <!-- </form> -->
                                </div>
                              </div>
                        </div>
                      </div>
                         

                       
                        <!-- /page content -->
                    </div>
                  </div>
                      
                </div>

            
              </div>
            </div>
          </div>

<!--modal finished -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        {% for rev in reviewObject %}
        <h4><strong><span class="fa fa-cubes"></span>
        {{rev.review_title}}</strong></h4>
          <h4> {{rev.review}}
            <form action="/about_reviewer/" method="post">{% csrf_token %}
              <input type="hidden" name="reviewId" value="{{rev.addedBy.user.username}}">By:-
              <button type="submit" class="btn"> <strong>{{rev.addedBy.user.first_name}} {{rev.addedBy.user.last_name}}</strong></button>
            </form>
          </h4>
        <hr>
        {% endfor %}
      </div>
</div>

    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.validate.js"></script>
<script type="text/javascript" src="/static/validation/review.js"></script>
  	<script src="/static/js/jquery.easing.min.js"></script>
  	<script src="/static/js/bootstrap.min.js"></script>
  	<script src="/static/js/jquery.mixitup.js" type="text/javascript"></script>
	<script type="text/javascript" src="/static/js/slick.min.js"></script>
	<script type="text/javascript" src="/static/js/custom.js"></script>
    <script src="/static/contactform/contactform.js"></script>
    
</body>
</html>